@import '../../../styles.scss';
.main-menu {
    display: inline-block;
    margin-top: 78px;

    .icon {
        width: 24px;
        height: 24px;
    }

    .nav-link {
        font-weight: bold;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        font-size: 12px;
        font-weight: 500;

    }
    
    .nav-item {
        transition: .25s;
        opacity: .75;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        margin-bottom: 20px;
        
        &:first-child {
            padding-top: 10px;
        }
        
        &:hover {
                opacity: .35;
            }
    }

    .active {
        &.nav-item {
            transition: .25s;
            opacity: 1;
            &:hover {
                cursor: auto;
                opacity: 1;
            }
        }
        .icon {
            fill: $m-orange;
        }

        .nav-link {
            &:hover {
                color: $m-orange;
            }
            color: $m-orange;
        }
    }
}