<div class="content-container" [@listAnimation]="collection.length">
    <div class="loader" *ngIf="!isLoaded">
        <h2>Loading...</h2>
    </div>
    <ng-container *ngIf="isLoaded">
        <app-photo-item class="card-item" *ngFor="let photo of collection; index as i" [photo]="photo"
            (onMouseEvent)="setBlur($event, photo)" (showCurrentPhoto)="showModal(photo)"
            [blur]="photo.blur !== 'undefined' ? photo.blur : false">
        </app-photo-item>
    </ng-container>
</div>
<div class="modal" *ngIf="modal.isShow">
    <div class="modal-container"></div>
</div>