@import "../../../styles.scss";

.form-wrapper {
    display: block;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}

h2 {
    margin: -20px -20px 0 -20px;
    padding: 20px;
    background-color: $m-blue;
    color: $m-light-text;
}

.btn {
    background-color: $m-blue;
    color: $m-light-text;
    &:hover {
        color: rgba($m-light-text, .7);
    }
}

.link {
    font-size: 14px;
    margin-top: 10px;
}