<div class="content-container">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, veniam totam corporis minus, odio
        blanditiis, eius
        sapiente amet necessitatibus quos a quam optio possimus dolores inventore atque vitae beatae ratione ducimus
        nihil
        molestiae mollitia corrupti quis? Voluptas voluptatem, provident assumenda dolorem, sit deserunt quis eos
        voluptate
        nostrum laboriosam, beatae veritatis.
    </p>
    <button class="btn btn-alert" (click)="getPhoto()">get photo</button>
</div>