@import '../../../styles.scss';

.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: rgba(0,0,0,.2);
    padding: 50px;
    width: 100wv;
    height: 100vh;

    &-img {
        max-width: 100%;
        height: calc(100vh - 300px);
        object-fit: cover;
    }

    &-close {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        border-radius: 50%;
        background-color: $m-orange;

        &:before,
        &:after {
            position: absolute;
            display: block;
            content: '';
            height: 30px;
            width: 6px;
            background-color: #fff;
            transform: rotate(45deg);
            top: 5px;
            right: calc(50% - 3px);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &-dscr {
        background-color: $m-orange;
        padding: 30px;
        color: $m-light-text;
        font-size: 18px;
        display: flex;
        flex-direction: column;

        &__item {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        &__title {
            font-weight: 600;
            margin-right: 20px;
        }

        &__fav-btn {
            border: 0;
            background: 0;
            width: 30px;
            height: 30px;
            background-image: url('/assets/img/icons/gray-star.svg');
            position: relative;
            top: -3px;
            opacity: .5;

            &.added {
                opacity: 1;
            }
        }
    }

    &-link {
        width: 25px;
        height: 25px;
        background-image: url('/assets/img/icons/donload-icon.svg');
        background-repeat: no-repeat;
        display: block;
    }

    
}