<div class="content-container" [@listAnimation]="cardList.length">
    <div class="loader" *ngIf="!isLoaded">
        <h2>Loading...</h2>
    </div>
    <ng-container *ngIf="isLoaded">
        <app-card-item class="card-item" *ngFor="let card of cardList; index as i" [title]="card.title"
            [text]="card.user.first_name || null" [preview]="card.preview_photos" [id]="card.id"
            [blur]="card.blur !== 'undefined' ? card.blur : false" [amount]="card.total_photos"
            (onMouseEvent)="setBlur($event, card)">
        </app-card-item>
    </ng-container>

</div>