<div class="content-container" [@listAnimation]="cardList.length">
    <div class="row mx-auto" #wrapper>
        <ng-container *ngIf="this.cardList.length">
            <app-card-item class="card-item" *ngFor="let card of cardList; index as i; last as isLast" [photo]="card"
                [blur]="card.blur !== 'undefined' ? card.blur : false" (onMouseEvent)="setBlur($event, card)"
                @cardAnimation [lastItem]="isLast" (lastElemEvent)="setObsrve($event)">
            </app-card-item>
        </ng-container>
    </div>
    <div class="loader" *ngIf="!isLoaded">
        <h2>Loading...</h2>
    </div>

    <!-- <div class="">
        <app-pagination *ngIf="isLoaded"></app-pagination>
    </div> -->

</div>